*{
    box-sizing: border-box;
}
.compare{
    border: 1px solid #D9D9D9;
    width: 100%;
    font-size: 14px;
}
.table{
    display: flex;
    flex-wrap: wrap;
}
.table__title{
    display: flex;
    align-items: center;
    grid-gap: 10px;
    flex: 1 1 250px;
}
.table__item{
    flex: 1 1 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.table__item, .table__title{
    padding: 15px;
}
.table__list::before{
    content: '';
    margin-left: 10px;
    width: 8px;
    height: 8px;
    flex: 0 0 8px;
    border-radius: 16px;
    border: 1px solid #D9D9D9;
}
.table__title, .table__item:not(:last-child){
    border-right: 1px solid #D9D9D9;
}
.compare .table:not(:last-child) .table__title, 
.compare .table:not(:last-child) .table__item{
    border-bottom: 1px solid #D9D9D9;
}
@media screen and (max-width: 768px) {  
    .table__title{
        flex: 1 1 100%;
        background-color: #f4f2f2;
        border-right: none;
    }
    .compare .table:last-child .table__title{
        border-bottom: 1px solid #D9D9D9;
    }
    .table__list::before{
        margin-left: 0px;
    }
}
